{% extends 'base.html.twig' %}

{% block title %}
  Compte
{% endblock %}

{% block body %}
  <div class="d-grid gap-2 col-6 mx-auto p-5">
    <h1>Bienvenue "{{ app.user.prenom }}" dans l'espace de gestion.</h1>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto p-5">
    <a href="#" class="btn btn-dark active" role="button" data-bs-toggle="button" aria-pressed="true">Ajouter une nouvelle voiture</a>
    <a href="#" class="btn btn-dark active" role="button" data-bs-toggle="button" aria-pressed="true">Ajouter un nouveau commentaire</a>
    <a href="#" class="btn btn-dark active" role="button" data-bs-toggle="button" aria-pressed="true">Accéder au tableau de bord</a>
  </div>
{% endblock %}
