{% extends 'base.html.twig' %}

{% block title %}
  Garage V. Parrot
{% endblock %}

{% block body %}
  <ul>
    {% for service in services %}
      <li>{{ service.titre }}</li>
      <li>{{ service.description }}</li>
      <li>{{ service.prixHeure }}</li>
    {% endfor %}
  </ul>
{% endblock %}
