<section class="w-75 py-5 container">
  <div class="row py-lg-5 bg-danger white rounded">
    <div class="col-lg-6 col-md-8 justify-content-start">
      <h1 class="fw-bold mx-5 my-5 bigger">Garage Vincent Parrot <br /><span style="color: #e5af2f;">Toulouse</span></h1>
      <p class="mx-5">“Venez découvrir notre garage automobile, fort d’une expérience de 15 ans dans l’industrie automobile. Profitez de nos services de réparation professionnels et de notre sélection d’occasions de confiance. Faites confiance à notre savoir-faire pour prendre soin de votre voiture comme nulle autre !”</p>
    </div>
    <div class="col-lg-6 col-md-8 justify-content-start align-items-center">
      <img class="img-fluid mx-auto" src="images/achatVoiture.png" alt="notre garage" />
    </div>
  </div>
</section>
