<section>
  <figure class="text-center container py-5 bg-grey mt-5">
    {% for commentaire in commentaires %}
      <blockquote class="blockquote">
        <div class="justyfy-content-center">
          Avis Clients <img src="images/cinq-etoiles.png" alt="cinq étoiles" width="40px" height="40px" />
        </div>
        <p class="mb-0">Mr {{ commentaire.nom }} , {{ commentaire.commentaire }}</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">{{ commentaire.publie|date('d-m-Y') }}</cite>
        <p>
          <strong>Note : {{ commentaire.note }}/5</strong>
        </p>
      </figcaption>
    {% endfor %}
  </figure>
  <div class="my-5 mx-auto w-25 justify-content-center">
    <button class="btn btn-lg btn-dark d-flex" type="button">Votre avis nous intéresse !</button>
  </div>
</section>
