@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Rajdhani:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    font-family: 'Barlow', sans-serif; 
}
h1 {
    font-family: 'Rajdhani', sans-serif;  
}
$danger: #b42222;
$white: #fff;
$link-hover-color: grey;


.smaller {
  font-size: 12px;
}

.bigger {
  font-size: 48px;
}

.white {
  color: $white;
}
.bg-grey {
  background-color: rgb(183, 181, 181);
}


.wrapper {
  height: 80vh;
  width: auto;
  z-index: 0;
  background-color: #212529;
}

.go-front {
  z-index: 1;
}

.minHeight {
  min-height: 80vh;
}

.rubik-loader {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/rubik.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  width: 400px;
}