{% extends 'base.html.twig' %}

{% block title %}
  Commentaire
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="style.css" />
{% endblock %}

{% block body %}
  <main class="w-50 mx-auto my-5">
    <h1 class="my-4">Formulaire de témoignages</h1>
    {{ form(form) }}
    <div class="rating">
      <i class="rating__star far fa-star"></i>
      <i class="rating__star far fa-star"></i>
      <i class="rating__star far fa-star"></i>
      <i class="rating__star far fa-star"></i>
      <i class="rating__star far fa-star"></i>
    </div>
  </main>
{% endblock %}
{% block javascripts %}
  <script src="https://kit.fontawesome.com/dc61582f2e.js" crossorigin="anonymous"></script>
  <script src="script.js"></script>
{% endblock %}
