{% extends 'base.html.twig' %}

{% block title %}
  Contact
{% endblock %}

{% block body %}
  <main class="w-50 mx-auto my-5">
    <h1 class="my-4">Formulaire de Contact</h1>
    {{ form(form) }}
  </main>
{% endblock %}
