{% extends 'base.html.twig' %}

{% block title %}
  Nouvelle occasion
{% endblock %}

{% block body %}
  <main class="w-50 mx-auto my-5">
    <h1 class="my-4">Nouvelle occasion</h1>
    {{ form(form) }}
  </main>
{% endblock %}
